.page {
  min-width: 320px;
  background-color: #000;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
  "header"
  "profile"
  "main"
  "footer";
}
