.popup__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 430px;
  background-color: #fff;
  border-radius: 10px;
}

@media screen and (max-width: 800px) {
  .popup__container {
    width: 282px;
  }
}
