.popup__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 430px;
  background-color: #fff;
  border-radius: 10px;
}
