.button_type_add {
  width: 100%;
  height: 50px;
  max-width: 282px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background-image: url(/images/add-button.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 22px 22px;
}

@media screen and (max-width: 800px) {
  .button_type_add {
    background-size: 16px 16px;
  }
}
