.popup__button {
  margin-top: 48px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 122%;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  width: 100%;
  height: 50px;
  background-color: #000;
}

.popup__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 800px) {
  .popup__button  {
    margin-top: 44px;
    font-size: 14px;
    height: 46px;
  }
}

