.card__like-button {
  background-image: url(../../../images/like.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 22px;
  min-height: 19px;
  margin-right: 3px;
}

.card__like-button:hover {
  opacity: 0.5;
}
