.popup__form {
  margin: 0;
  box-sizing: border-box;
  padding: 25px 22px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 48px;
  width: 430px;
  min-height: 330px;
}
