.popup__form {
  margin: 0;
  box-sizing: border-box;
  padding: 34px 36px 37px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 48px;
  width: 100%;
  min-height: 330px;
}

@media screen and (max-width: 800px) {
  .popup__form {
    padding: 25px 22px;
    gap: 76px;
    min-height: 322px;
  }
}

