.footer__copyright {
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 122%;
  text-align: left;
  color: #545454;
}

@media screen and (max-width: 800px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 121%;
  }
}

