.footer {
  max-width: 880px;
  padding-top: 66px;
  padding-bottom: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (max-width: 800px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
