.popup__title {
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 122%;
  text-align: left;
  align-self: flex-start;
}

@media screen and (max-width: 800px) {
  .popup__title {
    font-size: 18px;
  }
}
