.card {
  max-width: 880px;
  margin: 0;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 282px;
  height: 361px;
}
